<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
</head>
<body>
	<div class="navbar navbar-light" style="background-color:darkblue;"> 
		<span class="navbar-text">
    <h3 class="abc" style="margin-left: 56px;
    color: lightcyan;"> Welcome to Shopping Site.Add More Products Here..
  </span>
</h3>
</div>
<div class="container">
	<h2 class= "a11" style="color:darkslategrey">Add Products!</h3>
<form  action="{% url 'add_product' %}" method="POST">
	<div class='form-group'>
	{% csrf_token %}
	<ul class="list-group">
<li class="list-group-item disabled">{{form.as_p}}</li>
<li class="list-group-item disabled"><input type="submit" value="Submit" class= 'btn btn-primary' /></li>
</ul>
</div>
</form>
</body>
</html>