{% extends "base.html" %}
{% load staticfiles %}

{% block extra_js %}
<script type="text/javascript">
$(function() {
  $("#search").autocomplete({
    source: "{% url 'autocomplete-view' %}",
    minLength: 1,
    select: function(event, ui) {
      window.location.href = "{% url 'product-detail' %}" + "?product_id=" + ui.item.id;
    },
    open: function(event, ui) {
        $(".ui-autocomplete").css("z-index", 1000);
    }
  });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock extra_js %}

{% block extra_css %}

<link href="{% static "dashboard.css" %}" rel="stylesheet">
{% endblock extra_css %}

{% block header %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
     
      <a class="navbar-brand" href="{% url 'index-view' %}"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" data-toggle="tooltip" title="AUTOCOMPLETE">
      <form class="navbar-form navbar-right">
        <input type="text" id="search" class="form-control" placeholder=" Autocomplete Search...">
      </form>
    </div>
  </div>
</nav>
{% endblock header %}

{% block container %}

<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> -->
    <div class="container-fluid main">
      <!--  <div class='row'>
      <div class="col-md-12"> -->
<!--        <div class="card">
        <div class="card-header"><h1> Filtered Products list </h1></div>
        <div class="card-body">
    <h2 class="card-title"> # Product name Description Price ProductID </h2>
    <p class="card-text">
     </p>
  </div>
</div>
 {% for hit in hits %}
                
                  <a href="{% url 'product-detail' %}?product_id={{ hit.pk }}">{{ hit.pk }}</a>
                  {{ hit.name }}
                  {{ hit.price }}
                  {{ hit.productID }} <br> </br>
</div>


                
              {% endfor %} -->




          <h2 class="sub-header">Filtered Products list</h2>
          <div class="table-responsive" data-toggle="tooltip" data-html=true title="<h4>Product list from elasticsearch</h4>">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Product name</th>
                  <th>Product Description</th>
                  <th>Price</th>
                  <th>ProductID</th>
                </tr>
              </thead>
              <tbody>
              {% for hit in hits %}
                <tr>
                  <td><a href="{% url 'product-detail' %}?product_id={{ hit.pk }}">{{ hit.pk }}</a></td>
                  <td>{{ hit.name }}</td>
                  <td>{{hit.description}}</td>
                  <td>{{ hit.price }}</td>
                  <td>{{ hit.productID }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          

          <h2 class="sub-header">Aggregation of products by price</h2>
          <div class="table-responsive" data-toggle="tooltip" data-html=true >
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Price Range</th>
                  <th>Total No of Products</th>
                </tr>
              </thead>
              <tbody>
              {% for age in aggregations.group_by_price.buckets %}
                <tr>
                  
                  <td>{{ age.key }}</td>
                  <td>{{ age.doc_count }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock container %}
