<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- <script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script> -->
</head>
<style type="text/css">
	.test_class{
		float: right;
		margin-top: 4px;
		margin-bottom: 10px;
		margin-right: 14px;
	}
	.test_class2{
		margin-left: 1037px;
		margin-top: 4px;
		margin-bottom: 10px;
		margin-right: 14px;
	}
</style>
<body>
	
	
<div class="container-fluid">
<table class="table table-bordered table-striped">
	<th>Status</th>
	<th>Comment</th>
	<th>Comment-From</th>
	<th>likes</th>
	
{% for i in data %}
<tr>
	
	<td>{{i.status}}</td>
	<td>{{i.comment}}</td>
	<td>{{i.comment_from}}</td>
	<td>{{i.number_of_likes}}</td>
	


</tr>

{% endfor %}

</table>
</div>
<!-- Button trigger modal -->







      
     
</body>
</html>